<div id="calculator">
  <div> <!-- Output -->
    <input id="textbox" type="text" [value]="expression" disabled>
  </div>

  <br />

  <div class="button-table"> <!-- Griglia Pulsanti -->
    <mat-grid-list cols="4" rowHeight="3:2" gutterSize="6px">
      <mat-grid-tile><button id="operator" (click)="editExpression('s')" mat-raised-button color="primary">sin</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('c')" mat-raised-button color="primary">cos</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('t')" mat-raised-button color="primary">tan</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('π')" mat-raised-button color="primary">π</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('1')" mat-raised-button color="primary">1</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('2')" mat-raised-button color="primary">2</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('3')" mat-raised-button color="primary">3</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('+')" mat-raised-button color="primary">＋</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('4')" mat-raised-button color="primary">4</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('5')" mat-raised-button color="primary">5</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('6')" mat-raised-button color="primary">6</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('-')" mat-raised-button color="primary">−</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('7')" mat-raised-button color="primary">7</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('8')" mat-raised-button color="primary">8</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('9')" mat-raised-button color="primary">9</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('*')" mat-raised-button color="primary">∗</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('(')" mat-raised-button color="primary">(</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('0')" mat-raised-button color="primary">0</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression(')')" mat-raised-button color="primary">)</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('/')" mat-raised-button color="primary">∕</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('^')" mat-raised-button color="primary">x<sup>y</sup></button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('√')" mat-raised-button color="primary">√</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('l')" mat-raised-button color="primary">ln</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('e')" mat-raised-button color="primary">ℯ</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('!')" mat-raised-button color="primary">!</button></mat-grid-tile>
      <mat-grid-tile><button id="operator" (click)="editExpression('d')" mat-raised-button color="primary">⌫</button></mat-grid-tile>

      <mat-grid-tile colspan=2 ><button id="operator" (click)="evalExpression(codeExpression)" mat-raised-button color="primary">=</button></mat-grid-tile>
    </mat-grid-list>
  </div>
</div>